.AdminPage {
  background-color: #302c42;
}

.admin-page-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.admin-header {
  background-color: #394056;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}
.admin-title {
  font-size: 2rem; 
  color: #333;
  text-align: center;
  margin-bottom: 30px; 
}

.error-message {
  color: red;
  margin: 10px 0;
}

.admin-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 800px; 
  margin: 20px auto; 
}

.admin-content h2 {
  color: #1e033e;
  margin-bottom: 20px;
  margin-left: 10px;
}

.admin-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.admin-form button {
  padding: 10px 15px;
  background-color: #394056;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-form button:hover {
  background-color: #2c3451;
}

.admin-list {
  list-style: none;
  padding: 0;
}

.admin-list li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.admin-list button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-list button:hover {
  background-color: #c9302c;
}
