
.Homepage {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #302c42;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #394056;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.Navbar-left {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.Navbar-left span {
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(180deg, rgb(128.7, 118.34, 175.31) 0%, rgb(192.14, 183.37, 231.63) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.Navbar-left span:hover {
  transform: scale(1.1); 
}

 .Navbar-right span {
  margin: 0 10px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s; 
}

.Navbar-right span:hover {
  color: #6dd5ed;
}
  .Navbar-right .SignInButton {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
    cursor: pointer;
    transition: transform 0.3s; 
  }
  
.Navbar-right .SignInButton:hover {
  transform: scale(1.05);
}

  
  .Main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .Content-left {
    max-width: 50%;
    color: #ffffff; 
    float: left; 
    font-size: 1.1em; 
    line-height: 1.5; 
  }
  .Content-right{
    max-width: 30%; 
    float: right;
  
  }
  .Content-right .SiteImage {
    clip-path: circle(50% at 50% 50%);
    width: 100%; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .Content-right img {
    max-width: 100%;
    height: auto;
  }
  
  
  .Content-left h1, .Section h2 {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent; 
  }
  
  .Sections {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    padding: 20px;
  
  }
  
  .Section {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(circle, #4e5870 0%, #393e46 100%); 
    width: 30%; 
    margin: 0 auto; 
    font-size: 1em; 
    line-height: 1.4; 
  }
  
  .Section img {
    max-width: 60px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 768px) {
    .Main-content, .Sections {
      flex-direction: column;
      align-items: center;
    }
  
    .Content-left, .Content-right, .Section {
      max-width: 100%;
      float: none; 
    }
    .Sections {
      flex-direction: column;
      align-items: center;
    }
    .Navbar-right .SignInButton {
      font-size: 0.9em; 
    }
  }

 .Navbar-right span {
  margin: 0 10px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s; 
}
.Navbar-left span {
  font-size: 1.2em; 
}

.Navbar-right span:hover {
  color: #6dd5ed; 
}

.Navbar-right .SignInButton {
  background:linear-gradient(180deg, rgb(128.7, 118.34, 175.31) 0%, rgb(192.14, 183.37, 231.63) 100%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
}

.Main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-grow: 1; 
}

.Content-left {
  max-width: 55%; 
  font-size: 1.1em;
  line-height: 1.5;
}

.Content-right {
  max-width: 45%;
  display: flex;
  justify-content: center; 
}

.Content-right .SiteImage {
  max-width: 90%; 
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
  .Main-content, .Sections {
    flex-direction: column;
    align-items: center;
  }

  .Content-left, .Content-right, .Section {
    max-width: 100%;
  }

  .Navbar-right .SignInButton {
    font-size: 0.9em;
  }
}