.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #302c42;
  background-position: center;
}

.auth-form-container {
  -webkit-backdrop-filter: blur(80px) brightness(100%);
  backdrop-filter: blur(80px) brightness(100%);
  background: radial-gradient(circle, #4e5870 0%, #393e46 100%); 

  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form-container h2 {
  color: #092e37;
  margin-bottom: 20px;
  justify-content: center;
}

.auth-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.auth-form-container input,
.auth-form-container button,
.oauth-login-section {
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.auth-form-container input {
  background-color: #bfccd2;
  color: #042a2f;
}

.auth-form-container button {
  background-color: #1f3c49;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form-container button:hover {
  background-color: #9bcadd;
}



.toggle-auth-mode {
  background: none;
  border: none;
  color: #110e10;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  transition: color 0.3s ease;
}

.toggle-auth-mode:hover {
  color: #022330;
}

.error {
  color: #ff6b6b;
  margin-top: 10px;
}
