.profile-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../public/site.png'); 
  background-size: cover;
  background-position: center;
}

h2 {
  color: #fbf7fa;
  display: center;
  justify-content: center;
  margin-left: 155px;
}

.profile-container {
  -webkit-backdrop-filter: blur(80px) brightness(100%);
  backdrop-filter: blur(80px) brightness(100%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(166, 153, 176, 0.2) 0%,
    rgba(199, 158, 203, 0.02) 77.08%,
    rgba(194, 161, 218, 0.2) 100%
  );
  border-radius: 59px;
  top: 0;
  width: 447px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(3, 149, 240, 0.2);
  max-width: 500px;
  margin: 20px;
  color: #ebf0f1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: stretch;
}

.profile-form h2 {
  color: #ab90ad;
  margin-bottom: 20px;
}

.profile-form input, .profile-form select, .profile-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0fa7ed;
  color: #f4fafd;
  font-size: 1em;
}

.profile-form button {
  padding: 10px;
  margin-top: 10px;
  background-image: linear-gradient(180deg, rgb(128.7, 118.34, 175.31) 0%, rgb(192.14, 183.37, 231.63) 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.profile-form button:hover {
  background-color: #6e4f68;
}

.profile-form .error {
  color: #ff6b6b;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .profile-form {
    max-width: 90%;
  }
}

.profile-form input, .profile-form select, .profile-form textarea, .profile-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(180deg, rgb(128.7, 118.34, 175.31) 0%, rgb(192.14, 183.37, 231.63) 100%);
  color: #544750;
  font-size: 1em;
}

.profile-form button {
  background-image: linear-gradient(180deg, rgb(69, 9, 72) 0%, rgb(105, 41, 106) 100%);
  color: #be93b1;
}
