.profile-container {
  background-color: #302c42; /* Consistent with the site's theme */
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px; /* Adjusted for profile form */
  align-items: stretch;
}


.profile-form h2 {
  color: #6dd5ed; /* A bright color for headings */
  margin-bottom: 20px;
}

.profile-form input, .profile-form select, .profile-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #394056; /* Slightly lighter than page background */
  color: #ffffff; /* White text for inputs */
  font-size: 1em;
}

.profile-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-image: linear-gradient(180deg, rgb(128.7, 118.34, 175.31) 0%, rgb(192.14, 183.37, 231.63) 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.profile-form button:hover {
  background-color: #2193b0; /* Darker shade on hover */
}

.profile-form .error {
  color: #ff6b6b; /* Error color */
  margin-top: 10px;
}

.dropdown {
  margin: 20px 0;
}

.dropdown-header {
  background-color: #394056;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* S'assure qu'il s'étend sur toute la largeur */
}

.dropdown-list {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #394056;
  color: #fff;
  display: block; /* S'assure qu'il s'étend sur toute la largeur */
}

.dropdown-item {
  padding: 12px 10px; /* Augmenter le rembourrage pour une meilleure taille et un clic facile */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Ajouter une transition pour un survol doux */
}

.dropdown-item:hover {
  background-color: #302c42; /* Changement de couleur au survol */
}

.dropdown-item input[type="checkbox"] {
  margin-right: 10px; /* Espace entre la case à cocher et le texte */
}

.dropdown-item label {
  margin-left: 10px;
  flex-grow: 1; /* S'assure que le label prend tout l'espace disponible */
}

/* Responsiveness */
@media (max-width: 768px) {
  .profile-form {
    max-width: 90%;
  }
}
.profile-form input, 
.profile-form select, 
.profile-form textarea, 
.profile-form .dropdown-header, /* Apply styles to dropdown header */
.profile-form button {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #394056; /* Slightly lighter than page background */
  color: #ffffff; /* White text for inputs */
  font-size: 1em;
}